html
    body

        form(method='post',action='/admin/new')
            input(type='hidden',name='pw',value=pw)
            input(type='submit',value='New Article') 

        each articles,category in categories
            h2= category
            each article in articles
                p= article.title
                form(method='post',action='/admin/edit')
                    input(type='hidden',name='pw',value=pw)
                    input(type='hidden',name='id',value=article.id)
                    input(type='submit',value='Edit')
